body{
    background-color:rgb(161, 161, 161); 
}
.pokedex{
    width: 40%;
    margin:  0 auto;
    background-color: grey;
    border: 5px solid orangered;
}
.frame{
    margin: 6%;
    text-align: right;
    border: solid 5px orangered;
    background-color: rgb(161, 161, 161) ;
    

}
.teksty{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    
}
#tekst{
    margin: 1%;
    
    float: right;
    text-align: left;
    width: 40%;

}
.obrazek{
    margin: 2%;
    width: 24%;
    height: 24%;
    float: left;
    background-color: gray;
    border: 2px solid orangered;
}